---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects } from '@/lib/data-utils'

const projects = await getAllProjects()
---

<Layout>
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8">
      <h1>About me</h1>
        <p class="mb-4">
          My name is Marin and I'm a Computer Engineering student at <a href="https://algebra.hr/">Algebra Bernays University</a> - sub specialization in Systems Engineering.
        </p>
        <p>
          I'm currently exploring Systems Architecture, DevOps, and Cybersecurity.
        </p>
      </div>
    </div>
  </section>

  <section class="mb-8">
    <h2 class="mb-4 text-2xl font-medium">Education</h2>
    <ul class="list-disc pl-6 space-y-2">
      <li>
        <span class="font-semibold">BSc Computer Engineering</span> - <span class="text-muted-foreground">Algebra Bernays University, (present)</span>
      </li>
      <li>
        <span class="font-semibold">Computer Technician </span> - <span class="text-muted-foreground">Technical School Ruđer Bošković, (2017)</span>
      </li>
    </ul>
  </section>
  <section class="mb-8">
    <h2 class="mb-4 text-2xl font-medium">Organizations</h2>
    <ul class="list-disc pl-6 space-y-2">
      <li>
        <span class="font-semibold">
          Croatian Institute for CyberSecurity</span> - <span class="text-muted-foreground">HIKS, (2024-present)</span>
      </li>
    </ul>
  </section>

  <section class="mb-8">
    <h2 class="mb-4 text-2xl font-medium">Certifications</h2>
    <ul class="list-disc pl-6 space-y-2">
      <li>
        <span class="font-semibold">Cisco Certified Network Administrator – CCNA </span> 
      </li>
      <li>
        <span class="font-semibold">Fortinet Certified Associate Cybersecurity </span> 
      </li>
      <li>
        <span class="font-semibold">Microsoft Certified AZ-900 </span>
      </li>
      <li>
        <span class="font-semibold">AWS Cloud Foundations</span>
      </li>
      <li>
        <span class="font-semibold">GitHub Foundations</span>
      </li>
    </ul>
  </section>
  <section class="mb-8">
    <h2 class="mb-4 text-2xl font-medium">Notable</h2>
    <ul class="list-disc pl-6 space-y-2">
      <li>
        <span class="font-semibold">
          INOVA-YOUTH Award (Silver)</span> - <span class="text-muted-foreground">Faculty of Mechanical Engineering and Naval Architecture, University of Zagreb (2016.)
          </span>
      </li>
    </ul>
  </section>
  <div class="flex flex-col items-center justify-center">
    <img src="/www.png" alt="Saturn Logo" class="w-60 h-60" />
  </div>
</Layout>
