---
import Layout from '@/layouts/Layout.astro';

const title = 'Projects';

---

<Layout>
  <h1 class="text-4xl font-medium">{title}</h1>
  <p class="mt-4 text-foreground/80">
    This page is under construction. Check back soon for project details!
  </p>
</Layout>
