---
import Link from '@/components/Link.astro'
import ThemeToggle from '@/components/ThemeToggle.astro'
import MobileMenu from '@/components/ui/mobile-menu.tsx'

import { NAV_LINKS, SITE } from '@/consts'


---

<header
  class="bg-background sticky top-0 z-10"
  transition:persist
>
  <div
    class="mx-auto flex max-w-3xl flex-wrap items-center justify-between gap-4 p-4"
  >
    <Link href="/" class="flex shrink-0 items-center text-xl font-bold">
      {SITE.title}
    </Link>
    <div class="flex items-center gap-2 md:gap-4">
      <nav class="hidden md:flex items-center gap-x-6 text-sm font-medium">
        {
          NAV_LINKS.map((item) => (
            <Link
              href={item.href}
              class="hover:text-foreground/50 transition-colors"
            >
              {item.label}
            </Link>
          ))
        }
      </nav>

      <div class="flex items-center gap-2">
        <ThemeToggle transition:persist />
        <MobileMenu client:only="react" />
      </div>
    </div>
  </div>
</header>
